In [36]:
import pandas as pd
import folium
import geopandas as gpd
import folium.plugins as plugins

In [5]:
#Read csv
global_temps_df = pd.read_csv("New Files/global_temps_country_filtered_2.csv")

global_temps_df.head()

,Month,Day,Year,AverageTemperature,AverageTemperatureUncertainty,Country
0,1,1,1970,20.963,0.203,Argentina
1,2,1,1970,21.538,0.230,Argentina
2,3,1,1970,18.698,0.225,Argentina
3,4,1,1970,16.784,0.252,Argentina
4,5,1,1970,11.408,0.192,Argentina

In [28]:
#pull out july temps for Argentina
july_arg_df = global_temps_df.loc[(global_temps_df["Month"]==7) & (global_temps_df["Country"]=="Argentina") & (global_temps_df["Year"]<2024)]

#Drop Duplicates
july_arg_df = july_arg_df.drop_duplicates(subset=["Year"])

In [35]:
#Create base map
base_map = folium.Map (location=[-34.5037, -58.3816], control_scale=True, zoom_start=10, tiles="Buenos Aires", attr=<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>")

base_map

SyntaxError: invalid syntax (2520438362.py, line 2)